<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Series" data-toc-modified-id="Series-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Series</a></span><ul class="toc-item"><li><span><a href="#series类型结构" data-toc-modified-id="series类型结构-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>series类型结构</a></span></li><li><span><a href="#参数说明" data-toc-modified-id="参数说明-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>参数说明</a></span></li><li><span><a href="#示例" data-toc-modified-id="示例-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>示例</a></span><ul class="toc-item"><li><span><a href="#索引从0开始" data-toc-modified-id="索引从0开始-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>索引从0开始</a></span></li><li><span><a href="#自定义serise索引" data-toc-modified-id="自定义serise索引-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>自定义serise索引</a></span></li><li><span><a href="#字典-->Series-(-&quot;索引&quot;-:-&quot;值&quot;-)" data-toc-modified-id="字典-->Series-(-&quot;索引&quot;-:-&quot;值&quot;-)-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>字典--&gt;Series ( "索引" : "值" )</a></span><ul class="toc-item"><li><span><a href="#取字典中部分值" data-toc-modified-id="取字典中部分值-1.3.3.1"><span class="toc-item-num">1.3.3.1&nbsp;&nbsp;</span>取字典中部分值</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#DataFrame" data-toc-modified-id="DataFrame-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>DataFrame</a></span><ul class="toc-item"><li><span><a href="#DataFrame类型结构" data-toc-modified-id="DataFrame类型结构-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>DataFrame类型结构</a></span></li><li><span><a href="#参数说明" data-toc-modified-id="参数说明-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>参数说明</a></span></li><li><span><a href="#示例" data-toc-modified-id="示例-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>示例</a></span><ul class="toc-item"><li><span><a href="#列表创建DataFrame" data-toc-modified-id="列表创建DataFrame-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>列表创建DataFrame</a></span></li><li><span><a href="#字典创建DataFrame" data-toc-modified-id="字典创建DataFrame-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>字典创建DataFrame</a></span></li><li><span><a href="#np.array创建DataFrame" data-toc-modified-id="np.array创建DataFrame-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span>np.array创建DataFrame</a></span></li><li><span><a href="#字典列表-创建DataFrame-(可以存在缺失值NaN)" data-toc-modified-id="字典列表-创建DataFrame-(可以存在缺失值NaN)-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span><strong>字典列表</strong> 创建DataFrame (可以存在缺失值NaN)</a></span></li></ul></li><li><span><a href="#.loc[]-索引-----返回指定行" data-toc-modified-id=".loc[]-索引-----返回指定行-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>.loc[] 索引-----<strong>返回指定行</strong></a></span><ul class="toc-item"><li><span><a href="#.loc-/-.iloc-/-.ix" data-toc-modified-id=".loc-/-.iloc-/-.ix-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>.loc / .iloc / .ix</a></span></li></ul></li><li><span><a href="#索引列" data-toc-modified-id="索引列-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>索引列</a></span></li><li><span><a href="#添加列" data-toc-modified-id="添加列-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>添加列</a></span></li></ul></li><li><span><a href="#读取数据" data-toc-modified-id="读取数据-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>读取数据</a></span><ul class="toc-item"><li><span><a href="#读取.csv-/-.xlsx" data-toc-modified-id="读取.csv-/-.xlsx-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>读取.csv / .xlsx</a></span></li></ul></li><li><span><a href="#pandas-数据清洗" data-toc-modified-id="pandas-数据清洗-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>pandas 数据清洗</a></span><ul class="toc-item"><li><span><a href="#清洗空值" data-toc-modified-id="清洗空值-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>清洗空值</a></span><ul class="toc-item"><li><span><a href="#特征调参" data-toc-modified-id="特征调参-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>特征调参</a></span></li><li><span><a href="#isnull()-判断各个单元格是否为空" data-toc-modified-id="isnull()-判断各个单元格是否为空-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span>isnull() 判断各个单元格是否为空</a></span></li></ul></li><li><span><a href="#处理-n/a和-NA" data-toc-modified-id="处理-n/a和-NA-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>处理 n/a和 NA</a></span><ul class="toc-item"><li><span><a href="#替换.fillna" data-toc-modified-id="替换.fillna-4.2.1"><span class="toc-item-num">4.2.1&nbsp;&nbsp;</span>替换.fillna</a></span></li><li><span><a href="#均值替代-.mean()" data-toc-modified-id="均值替代-.mean()-4.2.2"><span class="toc-item-num">4.2.2&nbsp;&nbsp;</span>均值替代 .mean()</a></span></li><li><span><a href="#中位数替代-.median()" data-toc-modified-id="中位数替代-.median()-4.2.3"><span class="toc-item-num">4.2.3&nbsp;&nbsp;</span>中位数替代 .median()</a></span></li><li><span><a href="#众数替代-.mode()" data-toc-modified-id="众数替代-.mode()-4.2.4"><span class="toc-item-num">4.2.4&nbsp;&nbsp;</span>众数替代 .mode()</a></span></li></ul></li><li><span><a href="#清洗重复数据" data-toc-modified-id="清洗重复数据-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>清洗重复数据</a></span><ul class="toc-item"><li><span><a href="#查询重复.duplicated()" data-toc-modified-id="查询重复.duplicated()-4.3.1"><span class="toc-item-num">4.3.1&nbsp;&nbsp;</span>查询重复.duplicated()</a></span></li><li><span><a href="#删除重复-.drop_duplicates()" data-toc-modified-id="删除重复-.drop_duplicates()-4.3.2"><span class="toc-item-num">4.3.2&nbsp;&nbsp;</span>删除重复 .drop_duplicates()</a></span></li></ul></li><li><span><a href="#任意数据替换.replace(-old_value-,-new_value-)" data-toc-modified-id="任意数据替换.replace(-old_value-,-new_value-)-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>任意数据替换.replace( old_value , new_value )</a></span></li></ul></li></ul></div>

Pandas中文文档教程: https://www.runoob.com/pandas/pandas-tutorial.html

In [24]:
 import pandas as pd
 import numpy as np
 from pandas import Series, DataFrame

In [3]:
# 引入数据集作为示例
from sklearn.datasets import load_iris
dataset = load_iris()
data = pd.DataFrame(dataset['data'], columns=dataset.feature_names)

In [4]:
data.describe()  #输出摘要

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [5]:
data.columns #查看列

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

# Series
---
Pandas Series **类似表格中的一个列（column）**，类似于一维数组，可以保存任何数据类型。

## series类型结构
Series 由索引（index）和列组成
```python
pandas.Series( data, index, dtype, name, copy)
```

## 参数说明

**data**：一组数据(ndarray 类型)。

**index**：数据索引标签，如果不指定，默认从 0 开始。

**dtype**：数据类型，默认会自己判断。

**name**：设置名称。

**copy**：拷贝数据，默认为 False。

## 示例

### 索引从0开始

In [6]:
import pandas as pd
a = [1, 2, 3, 4, 5]
myvar = pd.Series(a)
print(myvar[1])          # 与数组相同, 初始索引从0开始

2

### 自定义serise索引

In [9]:
# 支持自定义serise的索引
a = ["值","Google", "Runoob", "Wiki"]
var = pd.Series(a, index = ["索引","x", "y", "z"])
print(var)

索引         值
x     Google
y     Runoob
z       Wiki
dtype: object

### 字典-->Series ( "索引" : "值" )

In [16]:
sites = {1: "Google", 2: "Runoob", 3: "Wiki"}
var1 = pd.Series(sites, name = "RUNOOB-Series-TEST")     # 为serise设置名称参数
var1

1    Google
2    Runoob
3      Wiki
Name: RUNOOB-Series-TEST, dtype: object

#### 取字典中部分值

In [15]:
var2 = pd.Series(sites, index=[1, 2])
var2

1    Google
2    Runoob
dtype: object

---
# DataFrame
表格型的数据结构，它含有一组有序的列，每列可以是不同的值类型（数值、字符串、布尔型值）。DataFrame 既有行索引也有列索引，它可以被看做由 Series 组成的字典（共同用一个索引）

## DataFrame类型结构
构造方法如下：
```python
pandas.DataFrame( data, index, columns, dtype, copy)
```

## 参数说明
**data**：一组数据(ndarray、series, map, lists, dict 等类型)。

**index**：索引值，或者可以称为行标签。

**columns**：列标签，默认为 RangeIndex (0, 1, 2, …, n) 。

**dtype**：数据类型。

**copy**：拷贝数据，默认为 False。

## 示例

### 列表创建DataFrame

In [21]:
data = [['Google',10],['Runoob',12],['Wiki',13]]     # 创建列表
df = pd.DataFrame( data, columns=['Site','Age'] , dtype=float )  #columns设置列名 若不设置则从0开始按次序表数
print(df)

     Site   Age
0  Google  10.0
1  Runoob  12.0
2    Wiki  13.0

C:\Users\36085\AppData\Local\Temp\ipykernel_4124\1300352499.py:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame( data, columns=['Site','Age'] , dtype=float )  #columns设置列名 若不设置则从0开始按次序表数

### 字典创建DataFrame

In [31]:
data = {'Site':['Google', 'Runoob', 'Wiki'], 'Age':[10, 12, 13]}
df = pd.DataFrame(data)
print (df)

     Site  Age
0  Google   10
1  Runoob   12
2    Wiki   13

### np.array创建DataFrame

In [28]:
a = np.array([[100,  200],  [300,  400]])  # 不自带列名
print (pd.DataFrame(a))

     0    1
0  100  200
1  300  400

### **字典列表** 创建DataFrame (可以存在缺失值NaN)

In [35]:
dat = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

pd.DataFrame(dat)

   a   b     c
0  1   2   NaN
1  5  10  20.0

## .loc[] 索引-----**返回指定行**

In [38]:
# 直接指定行数字

dtt = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
# 数据载入到 DataFrame 对象
df = pd.DataFrame(dtt)
# 返回第一行和第二行
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

In [60]:
daa = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(daa, index = ["day1", "day2", "day3"])   # 自定义设置行名

print(df)   
print(df.loc["day2"])                                      # 除了指定数字, 也可以指定行名

# 当行名存在时, 不能使用.loc[数字]索引

      calories  duration
day1       420        50
day2       380        40
day3       390        45
calories    380
duration     40
Name: day2, dtype: int64

### .loc / .iloc / .ix

```
# 通过标签选择数据
df.loc[row_name, column_name]

# 通过位置选择数据
df.iloc[row_index, column_index]

# 通过标签或位置选择数据
df.ix[row_index, column_name]
```

## 索引列

In [42]:
gen = {
  "mango": [420, 380, 390],
  "apple": [50, 40, 45],
  "pear": [1, 2, 3],
  "banana": [23, 45,56]
}
df = pd.DataFrame(gen)
print(df[["apple","banana"]])   # 直接索引列名

   apple  banana
0     50      23
1     40      45
2     45      56

## 添加列

In [43]:
cop = {
  "mango": [420, 380, 390],
  "apple": [50, 40, 45],
  "pear": [1, 2, 3],
  "banana": [23, 45,56]
}
df = pd.DataFrame(cop)
df['sum']=df['mango']+df['apple']+df['pear']+df['banana']     # 从其他列来添加新列

In [44]:
df

   mango  apple  pear  banana  sum
0    420     50     1      23  494
1    380     40     2      45  467
2    390     45     3      56  494

# 读取数据
---

## 读取.csv / .xlsx
**CSV**（Comma-Separated Values，逗号分隔值，有时也称为字符分隔值，因为分隔字符也可以不是逗号），其文件以纯文本形式存储表格数据（数字和文本）

In [49]:
mark = pd.read_csv('data\student_marks.csv')

#df = pd.read_excel('data.xlsx')

```
reviews = pd.read_csv('文件名.csv', index_col=0)  其中index_col=0选中第一列作为行名
```

In [51]:
#print(mark.to_string())  to_string() 用于返回 DataFrame 类型的数据
#如果不使用该函数，则输出结果为数据的前面 5 行和末尾 5 行，中间部分以 ... 代替。

print(mark)

    Student_ID  Test_1  Test_2  Test_3  Test_4  Test_5  Test_6  Test_7  \
0        22000      78      87      91      91      88      98      94
1        22001      79      71      81      72      73      68      59
2        22002      66      65      70      74      78      86      87
3        22003      60      58      54      61      54      57      64
4        22004      99      95      96      93      97      89      92
5        22005      41      36      35      28      35      36      27
6        22006      47      50      47      57      62      64      71
7        22007      84      74      70      68      58      59      56
8        22008      74      64      58      57      53      51      47
9        22009      87      81      73      74      71      63      53
10       22010      40      34      37      33      31      35      39
11       22011      91      84      78      74      76      80      80
12       22012      81      83      93      88      89      90      99
13       22013      52      50      42      38      33      30      28
14       22014      63      67      65      74      80      86      95
15       22015      76      82      88      94      85      76      70
16       22016      83      78      71      71      77      72      66
17       22017      55      45      43      38      43      35      44
18       22018      71      67      76      74      64      61      57
19       22019      62      61      53      49      54      59      68
20       22020      44      38      36      34      26      34      39
21       22021      50      56      53      46      41      38      47
22       22022      57      48      40      45      43      36      26
23       22023      59      56      52      44      50      40      45
24       22024      84      92      89      80      90      80      84
25       22025      74      80      86      87      90     100      95
26       22026      92      84      74      83      93      83      75
27       22027      63      70      74      65      64      55      61
28       22028      78      77      69      76      78      74      67
29       22029      55      58      59      67      71      62      53
30       22030      54      54      48      38      35      45      46
31       22031      84      93      97      89      86      95     100
32       22032      95     100      94     100      98      99     100
33       22033      64      61      63      73      63      68      64
34       22034      76      79      73      77      83      86      95
35       22035      78      71      61      55      54      48      41
36       22036      95      89      91      84      89      94      85
37       22037      99      89      79      87      87      81      82
38       22038      82      83      85      86      89      80      88
39       22039      65      56      64      62      58      51      61
40       22040     100      93      92      86      84      76      82
41       22041      78      72      73      79      81      73      71
42       22042      98     100     100      93      94      92     100
43       22043      58      62      67      77      71      63      64
44       22044      96      92      94     100      99      95      98
45       22045      86      87      85      84      85      91      86
46       22046      48      55      46      40      34      29      37
47       22047      56      52      54      47      40      35      43
48       22048      42      44      46      53      62      59      57
49       22049      64      54      49      59      54      55      57
50       22050      50      44      37      29      37      46      53
51       22051      70      60      70      62      67      67      68
52       22052      63      73      70      63      60      67      61
53       22053      92     100     100     100     100     100      92
54       22054      64      55      54      61      63      57      47
55       22055      60      66      68      58      49      47      39

    Test_8  Test_9  Test_10  Test_11  Test_12
0      100     100      100      100       93
1       69      59       60       61       67
2       96      88       82       90       86
3       62      72       63       72       76
4       98      91       98       95       88
5       26      19       22       27       31
6       75      85       87       85       89
7       56      64       70       67       59
8       45      42       43       34       24
9       45      39       43       46       38
10      38      40       48       44       50
11      73      75       71       79       70
12      99      95       85       75       84
13      22      12       20       19       20
14      96      92       83       75       81
15      60      50       58       49       59
16      75      66       61       61       66
17      37      45       37       45       54
18      64      61       51       51       58
19      74      65       55       60       61
20      44      36       45       35       44
21      39      44       36       43       46
22      19       9       12       22       27
23      46      54       57       52       47
24      74      68       73       81       74
25      87      85       79       85       88
26      82      81       73       70       73
27      58      48       46       46       51
28      69      78       68       65       68
29      61      67       76       75       70
30      47      41       37       30       25
31     100     100       99      100      100
32      90      80       84       75       80
33      58      50       51       56       64
34      89      90       95      100      100
35      32      41       40       48       38
36      91     100      100      100       92
37      74      64       54       51       50
38      95      87       93       90       89
39      68      70       70       63       73
40      74      79       72       79       85
41      77      83       92       97       99
42     100      98       94       97      100
43      73      83       76       86       91
44      92      84       84       84       91
45      82      85       87       84       83
46      34      39       41       31       40
47      44      40       39       47       43
48      53      43       35       37       43
49      59      63       73       78       88
50      57      55       61       64       68
51      67      72       69       64       65
52      59      52       58       56       46
53      87      94      100       94       98
54      37      44       48       54       54
55      29      39       44       39       45

In [53]:
mark.head(3)     # 输出前3行

,Student_ID,Test_1,Test_2,Test_3,Test_4,Test_5,Test_6,Test_7,Test_8,Test_9,Test_10,Test_11,Test_12
0,22000,78,87,91,91,88,98,94,100,100,100,100,93
1,22001,79,71,81,72,73,68,59,69,59,60,61,67
2,22002,66,65,70,74,78,86,87,96,88,82,90,86

In [54]:
mark.tail(2)     # 输出后2行

,Student_ID,Test_1,Test_2,Test_3,Test_4,Test_5,Test_6,Test_7,Test_8,Test_9,Test_10,Test_11,Test_12
54,22054,64,55,54,61,63,57,47,37,44,48,54,54
55,22055,60,66,68,58,49,47,39,29,39,44,39,45

In [55]:
mark.info()     # 输出DataFrame的基本信息

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Student_ID  56 non-null     int64
 1   Test_1      56 non-null     int64
 2   Test_2      56 non-null     int64
 3   Test_3      56 non-null     int64
 4   Test_4      56 non-null     int64
 5   Test_5      56 non-null     int64
 6   Test_6      56 non-null     int64
 7   Test_7      56 non-null     int64
 8   Test_8      56 non-null     int64
 9   Test_9      56 non-null     int64
 10  Test_10     56 non-null     int64
 11  Test_11     56 non-null     int64
 12  Test_12     56 non-null     int64
dtypes: int64(13)
memory usage: 5.8 KB

# pandas 数据清洗
---

## 清洗空值
删除包含空字段的**行**，可以使用 dropna() 方法

```python
DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
```
```
new_df = df.dropna()  # .dropna返回一个新的 DataFrame，不会修改源数据
```

### 特征调参
**axis**：默认为 0，表示逢空值剔除整行，如果设置参数 axis＝1 表示逢空值去掉整列。
当axis=0或axis='index',index表示行索引，若某行有空值，则删除该行；
当axis=1或axis='column',column表示列索引，若某列有空值，则删除该列。

**how**：筛选方式。‘any'，表示该行/列只要有一个以上的空值，就删除该行/列；‘all'，表示该行/列全部都为空值，就删除该行/列。默认值为‘any’

**thresh**：删除条件（int整数型）：行/列中非空元素个数小于thresh，该行/列会才会被删除。可以理解为：行/列中空值太多了（非空值太少了）才启动删除行/列。

**subset**：设置想要检查的列。如果是多个列，可以使用列名的 list 作为参数。
```
df.dropna(subset=['ST_NUM'], inplace = True)   # 移除'指定列'有空值的行
```
**inplace**：如果设置 True，将计算得到的值直接覆盖之前的值并返回 None，修改的是源数据。

### isnull() 判断各个单元格是否为空

```
print (df['...'].isnull())
```
若存在NaN ,则在对应位置输出True

## 处理 n/a和 NA 
---

Pandas 并不把 n/a 和 NA 当作空数据，不符合我们要求

```
missing_values = ["n/a", "na", "--"]
df = pd.read_csv('property-data.csv', na_values = missing_values)
```

### 替换.fillna

```
df.fillna(123, inplace = True)
或
df['PID'].fillna(12345, inplace = True)    # 指定列
```
使用123替换一些空字段

### 均值替代 .mean()

```
x = df["ST_NUM"].mean()
df["ST_NUM"].fillna(x, inplace = True)
```

### 中位数替代 .median()

```
x = df["ST_NUM"].median()
df["ST_NUM"].fillna(x, inplace = True)
```

### 众数替代 .mode()

```
x = df["ST_NUM"].mode()
df["ST_NUM"].fillna(x, inplace = True)
```

## 清洗重复数据
---

###  查询重复 .duplicated()

In [58]:
person1 = {
  "name": ['Google', 'Runoob', 'Runoob', 'Taobao'],
  "age": [50, 40, 40, 23]  
}
dfa = pd.DataFrame(person1)

print(dfa.duplicated())

0    False
1    False
2     True
3    False
dtype: bool

### 删除重复 .drop_duplicates()

In [59]:
persons2 = {
  "name": ['Google', 'Runoob', 'Runoob', 'Taobao'],
  "age": [50, 40, 40, 23]  
}

df = pd.DataFrame(persons2)

df.drop_duplicates(inplace = True)
print(df)

     name  age
0  Google   50
1  Runoob   40
3  Taobao   23

## 任意数据替换.replace( old_value , new_value )

```
# 将指定值替换为新值
df.replace('old_value', 'new_value')
```

---